body {
    background-color: #FEFEFE;
    margin: 0;
    margin-top: 20px;
}
.top-bar {
    float: left;
    display: inline-block;
    /* background-color: blueviolet; */
    margin: 0;
    border: 0;
    padding: 0;
    width: 100%;
}
.logo {
    display: inline-block;
    float: left;
    width: 30px;
    margin-left: 50px;
}
.bar {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 400;
    margin-top: 4px;
    margin-left: 15px;
    border-style: none;
    box-shadow: 1px 1px 4px 1px #616161b6;
}
.atop {
    display: inline-block;
    float: right;
    margin-top: 4px;
    margin-right: 30px;
    text-decoration: none;
    color: #484848;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 400;
}
#list {
    text-decoration: none;
    display: inline-block;
    width: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    color: #018BAF;
}
.text {
    display: inline-block;
    width: 30%;
    float: left;
    margin-left: 25%;
    /* background-color: #767676; */
}
h1 {
    display: inline-block;
    width: 100%;
    color: #484848;
    margin: 0;
    margin-bottom: 10px;
    padding: 0;
    font-size: 100px;
    font-weight: 700;
    font-family: 'Open Sans', sans-serif;
    
}
h2 {
    display: inline-block;
    width: 100%;
    color: #484848;
    margin: 0;
    margin-bottom: 15px;
    padding: 0;
    font-size: 20px;
    font-weight: 400;
    font-family: 'Open Sans', sans-serif;

}
h3 {
    display: inline-block;
    width: 100%;
    color: #767676;
    margin: 0;
    margin-bottom: 15px;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 14px;
}
p {
    margin: 0;
    padding: 0;
    font-family: 'Ubuntu', sans-serif;
}
ul {
    /* display: inline-block; */
    /* width: 100%; */
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-family: 'Ubuntu', sans-serif;
    /* color: #018BAF; */
}
/* size of the image doesnt change when zoomed */
img {
    display: inline-block;
    width: 20%;
    float: left;
}